body {
  transform: rotate(90deg);
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vh;
  height: 100vw;

  overflow: hidden;
  zoom: 0.75;
  padding: 0;
}

/* 上部中央（見た目）にモジュールを表示 */
.region.top.center {
  position: absolute;
  left: 0;
  top: 0; /* ←これでは下に来るので... */

  /* 修正ポイント：左方向に offset を加える */
  transform: translateX(-100vw);
  transform-origin: top left;

  width: 100vw;
  text-align: center;
}
